<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
   <%- include('./partials/navbar.ejs') %> 

   <h1 class="h1-text">Home</h1>
   
   <div class="blogs">
      <div class="container">
         <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
               <div class="card">
                  <div class="card-body">
                  <h5 class="card-title"><%= blog.title %></h5>
                  <p class="card-text"><%= blog.body%></p>
                  <a href="/blogs/<%= blog._id %>" class="btn btn-primary">View Blog</a>
                  </div>
               </div>
            <% }) %>
         <% } else { %>
            <h5>No Blogs Available</h5>
         <% } %>
      </div>
   </div>
</body>
</html>